<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<body>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Татьяна Татарец.
        Мы в телеграмме:
        <a href="https://t.me/about_sociology" th:href="@{https://t.me/about_sociology}"><i class="fab fa-telegram"></i></a>
    </div>
    <!-- Copyright -->
</footer>


<!--Popper and js Bootstrap-->
<script type="text/javascript" src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" src="../static/js/all.min.js" th:src="@{/js/all.min.js}"></script>
<script type="text/javascript" src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" th:href="@{https://use.fontawesome.com/releases/v5.15.1/js/all.js}"></script>
<script src="../static/js/button_return.js" th:src="@{/js/button_return.js}"></script>
</body>
</html>

