<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<body>
    <div th:fragment="heaer">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Подключаем jQuery-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/css/mybtstyle.css" type="text/css" th:href="@{/css/mybtstyle.css}">
        <link rel="shortcut icon" type="image/png" th:src="@{/img/favicon.png}">
    </div>
</body>


