<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="header"></div>

    <title>Всё о социологии</title>

</head>
<body>
<!--Шапка-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brad"><img src="../static/img/favicon.png" alt="ICO" th:src="@{img/favicon.png}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link active">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="/sociologists" class="nav-link">Социологи</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{research}" class="nav-link">Исследования</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{terminology}" class="nav-link">Терминология</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{literature}" class="nav-link">Литература</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{about}" class="nav-link" id="about_main_bs">О нас</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a th:href="@{panel_admin}" class="nav-link" id="admin_panel">Панель Администратора</a>
                </li>
                <!--<li class="nav-item">
                    <a href="reg.html" class="nav-link">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Вход</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
<!--Кнопка return-->
<a id="upbutton"><i class="far fa-arrow-alt-circle-up"></i></a>
<!--Слайдер-->
<div class="carousel slide" data-ride="carousel" id="slides">
    <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
        <li data-target="#slides" data-slide-to="3"></li>
        <li data-target="#slides" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../static/img/w1.jpg" alt="IMG" id="s1" th:src="@{img/w1.jpg}">
            <div class="carousel-caption">
                <h4 class="display-4"> „Любовь как принцип, порядок как основа, прогресс как цель.“</h4>
                <h5>Огюст Конт</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../static/img/w2.jpg" alt="IMG" id="s2" th:src="@{img/w2.jpg}">
            <div class="carousel-caption">
                <h4 class="display-4"> „Если мы тратим много сил на излишнее, то их не остается для необходимого.“</h4>
                <h5>Давид Эмиль Дюркгейм</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../static/img/w3.jpg" alt="IMG" id="s3" th:src="@{img/w3.jpg}">
            <div class="carousel-caption">
                <h4 class="display-4"> „Как бы богато мы ни были одарены, нам постоянно не хватает чего-нибудь, и лучшие
                    из нас чувствуют свое несовершенство.“</h4>
                <h5>Давид Эмиль Дюркгейм</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../static/img/w4.jpg" alt="IMG" id="s4" th:src="@{img/w4.jpg}">
            <div class="carousel-caption">
                <h4 class="display-4"> „Каждый должен жить, не обременяя собою других и не принося им вреда.“</h4>
                <h5>Герберт Спенсер</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../static/img/w5.jpg" alt="IMG" id="s5" th:src="@{img/w5.jpg}">
            <div class="carousel-caption">
                <h4 class="display-4"> „Цель воспитания — это образовать существо, способное управлять собою, а не
                    такое, какое могло бы только быть управляемо другими.“</h4>
                <h5>Герберт Спенсер</h5>
            </div>
        </div>
    </div>

</div>
<!--Текст под слайдером-->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-12 text-md-center">
            <h1 class="display-4">Так что же всё - таки такое, Социология...</h1>
        </div>
        <p class="lead">Знаменитый французский социолог Пьер Бурдьё любил говорить,
            что социология — это боевое искусство, которое помогает защищаться от несвободы,
            от несправедливости. В мире, где мы живем сегодня, основным источником несвободы для
            нас является не чья-то физическая сила, а наши собственные представления, убеждения,
            привычки. Социология — это способ посмотреть на них со стороны и спросить себя,
            откуда они возникли, кому они выгодны, как получилось так, что мы считаем те или иные
            вещи самоочевидными и не требующими никаких доказательств. Иными словами, социология — это
            наука о том, что мы привыкли называть здравым смыслом. Это наука о здравом смысле и
            одновременно — против здравого смысла. Она занимается разоблачением мифов...</p>
        <div class="text-center col-12">
            <button type="button" class="btn btn-outline-dark" data-toggle="collapse"
                    data-target="#main_text" id="open-main-text">Открыть статью
            </button>
        </div>
        <div id="main_text" class="collapse">
            <div class="container-fluid padding">
                <div class="row text-center" id="text_main_page">
                    Мифы о социологии — это хорошо знакомые нам представления. Если выйти на улицу и спросить людей о
                    том, что такое социология, то, скорее всего, девять из десяти ответят, что социология — это наука об
                    обществе, а социолог — это человек, который ходит с анкетой, придумывает вопросы и задает их людям.
                    Но если социология — это наука об обществе, то почему мы ищем это самое общество в разговорах с
                    отдельными людьми?
                    Карл Маркс когда-то сказал, что общество не состоит из индивидов (хотя не вся социология
                    присоединяется к этому соображению). В самом деле, можем ли мы свести общество к отдельным индивидам
                    или к сумме этих индивидов? Один из основателей социологии Эмиль Дюркгейм настаивал на том, что это
                    не так. Для Дюркгейма общество — это «реальность особого рода», которая не может быть сведена ни к
                    каким другим реальностям.
                    Дюркгейм полагал, что именно таким образом можно обосновать необходимость социологии как
                    самостоятельной дисциплины. В начале XX века, когда он пытался это сделать, социология все еще
                    находилась под сильным влиянием и в тени психологии, которая занималась индивидуальными сознаниями и
                    внутренней жизнью отдельного человека. Дюркгейму было принципиально показать, что социология не
                    может быть редуцирована до жизни отдельных людей, что общество — это самостоятельная реальность. Это
                    можно было показать, продемонстрировав, что общество обладает собственной принудительной силой, оно
                    может заставить отдельных индивидов делать что-то, к чему они, в принципе, не предрасположены. С
                    точки зрения Дюркгейма, по этому влиянию, по его последствиям мы можем распознать воздействие
                    общества и этим самым доказать, что общество составляет независимую от индивидов реальность.
                    Дюркгейм выбрал довольно будоражащий пример. Впрочем, этот пример был в то время на слуху у многих.
                    Он взял за основу статистику самоубийств и попытался показать, что самоубийство вызвано
                    исключительно социальными причинами. Последовательно разбирая все возможные факторы (климатические,
                    географические, психологические), Дюркгейм пришел к тому, что самоубийство — это поведение человека,
                    которое обусловлено состоянием общества. Он выделил разные типы самоубийств и показал, что в
                    зависимости от состояния общества большее распространение имеет тот или иной тип. Для Дюркгейма это
                    было доказательством того, что социология имеет дело с реальностью, которая может причинять
                    самостоятельное воздействие и действует независимо от нашего желания.
                    Мы привыкли думать, что общество существует вне нас, что это какие-то правила, с которыми мы
                    вынуждены соглашаться. Например, никто не выйдет на улицу голым. Но Дюркгейму было важно показать,
                    что общество действует не только помимо нашего желания, но и помимо воли и сознания, что воздействие
                    общества наиболее глубоко и наиболее отчетливо проявляется в тех самых случаях, когда мы не
                    понимаем, что оно на нас действует. Мы хорошо знаем, что нужно держать нож в правой руке, а вилку —
                    в левой, но это не очень интересно. Интересней ситуация, когда мы принимаем решение, думая, что это
                    наше самостоятельное решение, — а в это время как раз находимся под воздействием социальных
                    факторов.
                    Именно таким является решение о самоубийстве. Одновременно это самое важное решение, которое человек
                    принимает в своей жизни, — решение от этой жизни избавиться. Показав, что самое важное решение в
                    жизни человека находится под влиянием социальных факторов, Дюркгейм тем самым продемонстрировал, что
                    у социологии есть свой собственный предмет и этот предмет не сводится к отдельным индивидам. Иными
                    словами, общество нельзя свести к отдельным индивидам и оно не является их суммой, хотя и
                    показывается нам через этих индивидов.
                    Другой классический теоретик социологии, человек, который сделал очень много для ее становления в
                    Германии, Георг Зиммель говорил, что в обществе индивиды одновременно частично обобществлены и
                    частично не обобществлены. Обобществленная часть никогда не является исчерпывающей: в индивиде
                    всегда есть что-то еще, не попадающее в общество и остающееся вне его границ. Но общество — это та
                    часть индивида, которая обобществлена, которая вовлекается во взаимодействие.
                    Если мы подумаем о том, как работают наши вопросы к людям на улице, то никогда не сможем сказать, к
                    кому мы обращаемся. Мы обращаемся к той части, которая обобществлена, — или мы обращаемся к той
                    части, которая остается вне общества? Иными словами, доступ к обществу не может быть таким простым,
                    как кажется. И вопрос, который здесь возникает, — как мы, собственно говоря, можем фиксировать
                    социальность человека? Через что она может быть нам явлена, как мы можем ее наблюдать? В чем
                    проявляется социальная природа человека?
                    Например, еще один классик социологии Макс Вебер говорил о том, что предметом социологии является
                    смысл социального действия. Что это значит? Ведь любые науки о человеке так или иначе занимаются
                    поведением людей. Но далеко не всякое поведение человека — это поведение осмысленное. Классический
                    пример: вы сидите у невропатолога, он бьет молоточком вам по коленке и в ответ получает от вас
                    некоторое поведение. Это поведение не является действием: вы не вносили в него никакого смысла,
                    никакого содержания. В то же время поведение, с которым вы связываете смысл, — это действие. Но
                    далеко не все действия являются социальными, а только те из них, которые по своему смыслу
                    ориентированы на другого человека. И задача социологии, с точки зрения Вебера, состоит в том, чтобы
                    понять содержание, которое стоит за такими социальными действиями.
                    Во-первых, мы видим, что в этой задаче, нет ни тени намека на общество. А во-вторых, далеко не факт,
                    что мы можем понять что-нибудь о смысле социального действия, если подойдем с вопросом к человеку на
                    улице. В самом деле, всегда ли человек отдает себе отчет в смысле его действия? Не говоря уже о том,
                    что он далеко не всегда готов рассказать нам об этом смысле. Иными словами, идея, что мы можем
                    заниматься социологией и изучать человеческую социальность, подходя к людям на улице и задавая им
                    вопросы, — весьма сомнительная.
                    Конечно, опрос как метод социологического исследования вполне распространен. И сама по себе идея
                    общаться с людьми, задавать им вопросы — это неотъемлемая особенность социологии: социология не
                    может существовать, если ей не интересны другие люди. Но полагать, что, задавая людям вопросы,
                    получая ответы и складывая потом эти ответы друг с другом, мы можем получить социологию, — это
                    значит не иметь никакого внятного представления о том, что такое общество и в чем проявляется
                    человеческая социальность. Поэтому социология обладает целым арсеналом разных методов доступа к
                    реальности социального.
                </div>
            </div>
        </div>
    </div>
</div>

<!--Блок с информацией-->
<div class="container-fluid padding" id="blocks">
    <div class="text-center"><span class="display-4">Авторитеты социологии!</span></div>
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="../static/img/kont.jpg" class="img-fluid zoom" th:src="@{img/kont.jpg}">
            <h3>Oгюст Конт</h3>
            <p>Французский философ, родоначальник позитивизма, он первым дал название науке об обществе, определил
                специфику предмета и метода социологии.
                Именно О. Конта считают родоначальником науки социологии как самостоятельной отрасли знания</p>
            <!--  <a href="#" class="myref"><span>Читать далее</span></a>-->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="../static/img/durgkeim.jpg" class="img-fluid zoom" th:src="@{img/durgkeim.jpg}">
            <h3>Эмиль Дюркгейм</h3>
            <p>Представитель французской школы социологии, сторонник классического позитивизма.
                Основными социологическими работами Дюркгейма являются "Элементы социологии" (1889), "О разделении
                общественного труда" (1893),
                "Правила социологического метода" (1895), "Самоубийство.
            </p>
            <!--  <a href="#" class="myref"><span>Читать далее</span></a>-->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="../static/img/spenser.jpg" class="img-fluid zoom" th:src="@{img/spenser.jpg}">
            <h3>Герберт Спенсер</h3>
            <p>Английский философ и социолог; он разделял представления Конта о социальной статике и социальной
                динамике.
                Согласно его учению, общество похоже на биологический организм и его можно
                представить как некое целое, состоящее из взаимосвязанных и взаимозависимых частей.</p>
            <!-- <a href="#" class="myref"><span>Читать далее</span></a>-->
        </div>
    </div>
    <hr class="my-4">
</div>


<!--простая секция с изображением-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h3>Свежая статья!</h3>
                <h2>
                    <div th:utext="${last_article != null} ? ${last_article.getTitle()} : 'Сюда будет добавляться новая тема исследования или статьи!'">
                        Что - то про социологию
                    </div>
                </h2>
            </div>
            <div class="text-center" th:utext="${last_article != null} ? ${#strings.abbreviate(last_article.getText(),500)}  : 'Ну а тут сам текст исследования!'">
                Какой - то текст из статьи

            </div>
            <div th:if="${last_article != null}">
                <div class="col-lg-12" >
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success" style="margin-bottom: 10px"
                                data-toggle="collapse" th:attr="data-target='#' + 'id_for_' +${last_article.id}">Читать
                            далее...
                        </button>
                    </div>
                </div>

                <div th:id="'id_for_' + ${last_article.id}" class="collapse">
                    <div class="container-fluid padding">
                        <div class="row text-center" id="text_main_article"
                             th:utext="${#strings.substring(last_article.text,497)}">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!--Блок с фиксированным изображением-->

<figure>
    <div class="fixed-wrap">
        <div th:if="${last_article == null}">
            <div class="fixed_main_img"
                 th:style="'background: url(' + @{../img/blog.jpg} + ') no-repeat center center fixed;'">
            </div>
        </div>
        <div th:if="${last_article != null}">
            <div class="fixed_main_img"
                 th:style="'background: url(' + @{uploads/{url}(url=${last_article.url_image})} + ') no-repeat center center fixed;'">
                <!--<img th:src="@{uploads/{url}(url=${last_article.url_image})}" alt="Картинка">-->
            </div>
        </div>
    </div>

    </div>
</figure>


<!--

Закрытая секция
<div class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="collapse"
            data-target="#gifs" id="gifs_button">Открыть статью...
    </button>
</div>
<div id="gifs" class="collapse">
    <div class="container-fluid padding">
        <div class="row text-center" id="text_gif">
            <div class="col-sm-12 col-md-4">
                <img src="../static/img/gif1.gif" class="gif" th:src="@{img/gif1.gif}">
                <h4 class="display-4">Описание первой статьи</h4>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="../static/img/gif2.gif" class="gif" th:src="@{img/gif2.gif}">
                <h4 class="display-4">Описание второй статьи</h4>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="../static/img/gif3.gif" class="gif" th:src="@{img/gif3.gif}">
                <h4 class="display-4">Описание, описание, рыжая, я тебя обожаю!</h4>
            </div>
        </div>
    </div>
</div>

-->


<div class="row alert text-center">
    <div class="col-12">
        <h1 class="display-4">Парадигмы социологии!</h1>
    </div>
    <hr>
</div>
<!--Карточки учёных-->
<div class="container padding" id="cards">
    <div class="containter padding">
        <div class="row padding">
            <div class="col-md-6">
                <div class="card">
                    <img src="../static/img/s1.jpg" class="card-img-top" th:src="@{img/s1.jpg}">
                    <div class="card-body">
                        <h4 class="card-title text-center">Макросоциология</h4>
                        <p class="card-text">Главной проблемой макросоциологии
                            можно считать вопрос, каким образом в полностью
                            детерминированной социальной реальности может
                            существовать индивидуальная свобода?</p>
                        <!--<a href="#" class="btn btn-link">Посмотреть</a>-->
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <img src="../static/img/s2.jpg" class="card-img-top" th:src="@{img/s2.jpg}">
                    <div class="card-body">
                        <h4 class="card-title text-center">Микросоциология</h4>
                        <p class="card-text">Главной проблемой микросоциологии
                            можно считать вопрос — если каждый индивидуален,
                            то как возможны общие значения, на основании которых
                            существует взаимосвязь между индивидами?</p>
                       <!-- <a href="#" class="btn btn-link">Посмотреть</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->


<footer style="margin-top: auto" th:insert="footer_scripts"></footer>
</body>

</html>